<mat-card><form>
    <input type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel name="key">
  </form>
</mat-card>
<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
  </ng-container>

  <!-- username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> username </th>
    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
  </ng-container>

  <!-- is_enabled Column -->
  <ng-container matColumnDef="is_enabled">
    <th mat-header-cell *matHeaderCellDef> is_enabled </th>
    <td mat-cell *matCellDef="let user"> {{user.is_enabled}} </td>
  </ng-container>

  <!-- register_date Column -->
  <ng-container matColumnDef="register_date">
    <th mat-header-cell *matHeaderCellDef> register_date </th>
    <td mat-cell *matCellDef="let user"> {{user.register_date}} </td>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <!-- surname Column -->
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> surname </th>
    <td mat-cell *matCellDef="let user"> {{user.surname}} </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <!-- actions Column -->
 <ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef> Ações </th>
  <td mat-cell *matCellDef="let user">
    <a class="action-link" [routerLink]="['/users/edit',user.id]" >Edit</a>
    <a class="action-link" [routerLink]="['/users/view',user.id]" >View</a>
    <a class="action-link" [routerLink]="['/users/delete',user.id]" >Del</a>
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

