a:link {
  color: rgb(116, 138, 180);

}

/* visited link */

a:hover {
  color: white;
}

/* selected link */
a:active {
  color: yellow;
}
a{
  text-decoration: none;
  margin: 20px;
  font-size: 12px;
}
